<configuration
  htmfile="/cordys/cpc/bsf/developer/content/bsftabpage.htm" implementation="com.cordys.cpc.bsf.connector.BsfConnector">
  <ruleEnabled>false</ruleEnabled>
  <auditEnabled>off</auditEnabled>
  <initializeDB>true</initializeDB>
  <initializeEIS>false</initializeEIS>
  <bsfuser>cn=SYSTEM,cn=organizational users,o=InboundEmail,cn=cordys,o=vanenburg.com</bsfuser>
  <customInitializer/>
  <component clientattr:sync_id="1" name="EmailIOConnectionPool"
    xmlns="http://emailioconnector.coe.cordys.com/2.0/configuration" xmlns:clientattr="http://schemas.cordys.com/General/ClientAttributes/">
    <server>srv-nl-ces70</server>
    <userName>emailio</userName>
    <password>aW5ib3VuZGVtYWls</password>
    <defaultDatabase>emailio</defaultDatabase>
    <operatingsystem>windows</operatingsystem>
    <maximumReadConnections>3</maximumReadConnections>
    <maximumWriteConnections>7</maximumWriteConnections>
    <queryCacheSize>50</queryCacheSize>
    <queryCacheRefreshInterval>3600</queryCacheRefreshInterval>
    <cursorCacheSize>50</cursorCacheSize>
    <cursorCacheRefreshInterval>3600</cursorCacheRefreshInterval>
    <driverName>OLEDB</driverName>
    <provider>SQLOLEDB</provider>
    <xmlEncoding>false</xmlEncoding>
    <multibyte>false</multibyte>
    <auditInfo/>
  </component>
</configuration>
